.LinkWrapper {
  display: flex;
}

.ExpLinkHeading {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  text-decoration: underline;
}

.ExpLink {
  padding: 0 10px;
  text-decoration: none;
}