

.WorkWrapper {
  box-sizing: border-box;
  border-left: 3px dashed #A86520;
  border-bottom: 3px dashed #A86520;
  padding: 10px;
  background-color: white;
  margin-top: 15px;
}

.TimeP {
  font-style: italic;
  margin-bottom: 10px;
}

.Plus {
  width: 8px;
  height: 8px;
}