.LinkWrapper {
  display: flex;
}

.ExpLinkHeading {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

.ExpLink {
  text-decoration: none;
  color: #2B0300;
}

.ExpLink:nth-child(1) {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .ExpLinkHeading{
    font-size: 22px;
  }
}

