.ProjectLink {
  font-family: 'Roboto Mono', monospace;
  color: #2B0300;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #8D4038;
  padding: 10px 0;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.ProjectLink:hover {
  background-color: #8D4038;
  color: #F9EBD9;
}