.AboutPageContainer {
  width: 100%;
  min-height: 100vh;
  height:fit-content;
  background-color: #8D4038;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.AboutWrapper {
  width: 90%;
  height: fit-content;
  padding: 20px;
  background-color: #F9EBD9;
  margin-top: 100px;
}

.AboutContentWrapper > p {
  text-align: left; 
}

/* TABLET VIEW */
@media screen and (min-width: 768px) {
  .AboutWrapper {
    width: 70%;
    margin-top: 150px;
  }
}

/* DESKTOP VIEW */
@media screen and (min-width: 1024px) {
  .AboutWrapper {
    margin-top: 80px;
    padding: 20px 40px;
  }
}