.ProjectWrapper {
  box-sizing: border-box;
  width: 100%;
  margin-top: 15px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ProjectImage {
  width: 50%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #A86520;
  border-radius: 5%;
}

.TechContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
}

.ContentWrapper {
  width: 100%;
  margin: 20px 0;
  margin-bottom: auto;
}

.TechWrapper {
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
  width: 40%;
  padding-left: 1em;
  text-indent: -1em;
}

@media (min-width: 768px) {
  .ProjectImage {
    width: 60%;
  }

  .TechWrapper {
    width: 35%;
  }
}

@media (min-width: 1024px) {
  .ProjectWrapper {
    margin-top: 30px;
    width: 49%;
  }

}