.WorkWrapper {
  box-sizing: border-box;
  border-left: 3px dashed #A86520;
  border-bottom: 3px dashed #A86520;
  padding: 10px;
  background-color: white;
  margin-top: 15px;
}

.TimeP {
  font-style: italic;
  margin-bottom: 10px;
}

.Plus {
  width: 8px;
  height: 8px;
}

@media (min-width: 1024px) {
  .WorkWrapper {
    width: 60%;
  }

  .WorkWrapper:nth-child(3) {
    width: 70%;
  }

  .WorkWrapper:nth-child(4) {
    width: 80%;
  }

  .WorkWrapper:nth-child(5) {
    width: 90%;
  }

  .WorkWrapper:nth-child(6) {
    width: 100%;
  }
}